header{
    background-color: rgb(60, 170, 186);
    background-image: url(img/pattern.png);
    background-size: contain;
    background-repeat: repeat;   
    background-position: center;
    width: 100%;
    height: 100px;
}

.logo{
    width: 200px;
    height: 100px;
    text-align: center;
    margin-left: 100px;
    padding: 30px;
}

/*fine header composto da immagine sfondo piu immagine sovrapposta*/

h2{
    color: rgb(15, 15, 15);
    font: size 100px;
    font-style: normal;
}

h4{
    color: rgb(106, 105, 105);
    font: size 20px;
    font-style: italic;
}
 
.booleaner {
    color: rgb(24, 163, 237);
}

description{
    color: rgb(106, 105, 105);
    font-size: smaller;
}

table {
    border: 0;
    border-collapse: collapse;
}


/*fine main composta da titoli con relative classi e immagini con descrizione*/

th { background-color: rgb(92, 232, 247);
    width: 300px;
}

.tdback {
    background-color: rgb(20, 106, 116);
    width: 300px;
}

.white{
    color: rgb(243, 244, 247);
    background-color: royalblue;
}

/*fine tabella con classi per stile th e td*/

.img-text { 
    background-image: url(img/graph.jpg);
    width: 300px;
    height: 250px;
}


.img2-text{ 
    background-image: url(img/monitor.jpg);
    width: 300px;
    height: 250px;
}






   
